@import "tailwindcss";
@import "@fontsource/lato/400.css";
@import "@fontsource/lato/700.css";
@import "@fontsource/pacifico/400.css";

@theme {
    --color-sable: oklch(0.8916 0.0422 75.4);
    --color-back: oklch(0.3708 0.0471 249.2);
    --color-vert: oklch(0.7149 0.1118 124.3);
    --color-vert-fonce: oklch(0.3374 0.0601 151.28);
    --font-lato: 'Lato';
    --font-pacifico: 'Pacifico';
    --text-base: 20px;
    --text-lg: 24px;
    --text-xl: 26px;
    --text-2xl: 32px;
    --text-3xl: 48px;

    --my-grid: repeat(12, minmax(0,70px))
}

@layer base{
    body{
        @apply font-lato text-base bg-back text-sable;
    }
    h1{
        @apply text-3xl font-pacifico my-6 text-center;
    }
    h2{
        @apply text-2xl font-pacifico my-3;
    }
    h3{
        @apply text-xl  font-lato font-bold;
    }
}

@layer components {
  .grille {
    @apply px-6 lg:grid lg:grid-cols-(--my-grid) lg:justify-center lg:gap-12;
  }
}