@import "tailwindcss";

@theme {
    --color-sable: oklch(0.8916 0.0422 75.4);
    --color-back: oklch(0.3708 0.0471 249.2);
    --font-lato: 'Lato';
    --font-pacifico: 'Pacifico';
    --text-base: 15px;
    --text-lg: 18px;
    --text-xl: 24px;
    --text-2xl: 32px;
    --text-3xl: 48px;
}