---
import Layout from '../layouts/Layout.astro';
import Bouton from '../components/Bouton.astro';
---

<Layout titre="Accueil">
	<!--Image Hero-->
	<h3 class="text-sable text-center my-6">Les 6 et 7 Juin 2026</h3>
	<Bouton contenue="Billeterie"/>
	<div>
<!--liste d'artiste avec Pocketbase-->
	</div>
	<Bouton contenue="Programme"/>
	<div>
<!--image d'artiste avec Pocketbase-->
	</div>
	<!--Image Festival-->
	<div>
		<p>
			Le Flying Tap Fest vous ouvre ses portesau coeur du site naturel du Malsaucy,
			 pour une premiere edition dediee a la danse, au mouvement et a la creativite.
			 <br/>
			 Parking gratuit sur place
			 <br/>
			 Espace velo securise
			 <br/>
			Stands de restauration, zones chill, animations participatives et
			decouvertes artistiques tout au long de la journee.
			<br/>
			Retrouvez egalement nos partenaires locaux et engages dans une demarche 
			eco-responsable, qui soutiennent une culture plus durable.
		</p>
	</div>
	<Bouton contenue="Plus d'informations" taille="text-2xl"/>
</Layout >
