---
import Layout from "../../layouts/Layout.astro";
import Bouton from "../../components/Bouton.astro";
---

<Layout titre="Programme">
    <div>
        <div>
            <h1>Programme</h1>
        </div>
        <Bouton contenue="Télécharger le programme"/>
    </div>
</Layout>