---
import PbImage from "./PbImage.astro";
const artiste = Astro.props.artiste;
---

<a href={`/Programme/${artiste.id}`} class="block rounded-lg bg-sable p-3 transition hover:opacity-90">
    <div>
        <PbImage
            record={artiste}
            recordImage={artiste?.Photo}
            width={400}
            height={280}
            MyClass="h-auto w-full rounded-[7px] object-cover"
        />
    </div>
    <div class="mt-3">
        <p class="font-bold text-back">
            {artiste.Nom}
        </p>
        <p class="text-back">
            {new Date(artiste.Date_heure_production).toLocaleString('fr-FR')}
        </p>
    </div>
</a>