---
import Logo from "../assets/icons/logo_dark.svg";
---

<footer class="bg-sable">
        <ul>
            <li>
                <a href="https://www.ffdanse.fr/">
                    <!--Image partenaire -->
                        
                </a>
            </li>
            <li>
                <a href="https://www.territoiredebelfort.fr/">
                    <!--Image partenaire -->
                </a>
            </li>
            <li>
                <a href="#">
                    <Logo/>
                </a>
            </li>
        </ul>
    </footer>