---
import Logo from "../assets/icons/logo_dark.svg";
import FFD from "../assets/icons/ffd.svg";
import BelfortLogo from "../assets/icons/Territoire_belfort_logo_bleu.svg";
import Facebook from "../assets/icons/Facebook.svg";
import Insta from "../assets/icons/instagram.svg";
import Twitter from "../assets/icons/Twitter.svg";
import Youtube from "../assets/icons/youtube.svg";
---

<footer class="bg-sable grille py-6 w-full">
    <ul class="lg:col-start-2 lg:col-end-12 flex items-center justify-between w-full lg:flex-nowrap px-4">
            <li>
                <a href="https://www.ffdanse.fr/">
                    <FFD/>
                        
                </a>
            </li>
            <li>
                <a href="https://www.territoiredebelfort.fr/">
                    <BelfortLogo/>
                </a>
            </li>
            <li>
                <a href="/">
                    <Logo/>
                </a>
            </li>
            
        </ul>
        <ul class="font-lato text-back lg:col-start-2 lg:col-end-5 pb-4">
            <li class="text-lg font-black"><a href="/Contact" class="underline">Nous contacter</a></li>
            <div>
            <li>contact@flyingtapfest.fr</li>
            <li>03 84 90 90 90</li>
            <li>6 place de la révolution francaise,</li>
            <li>90000 Belfort</li>
        </div>
        <ul class="stroke-back lg:col-start-1 lg:col-end-6 flex justify-between w-full px-4 pt-6">
            <li><a href="https://www.facebook.com/"><Facebook/></a></li>
            <li><a href="https://www.instagram.com/"><Insta/></a></li>
            <li><a href="https://x.com/"><Twitter/></a></li>
            <li><a href="https://www.youtube.com/"><Youtube/></a></li>
        </ul>
        </ul>
    </footer>