---
import Logo from "../assets/icons/logo_dark.svg";
---
<header class="bg-sable grille py-3">
    <nav class="text-back lg:col-start-1 lg:col-end-10 font-lato text-lg font-bold">
        <ul class="flex items-center justify-between w-full lg:flex-nowrap">
            <li>
                <a href="/">
                    <Logo/>
                </a>
            </li>
            <li><a href="/Programme">Programme</a></li>
            <li><a href="">Scènes</a></li>
            <li><a href="">Informations pratiques</a></li>
        </ul>
    </nav>
</header>
